.wrapperHW8 {
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.finalPeople {
    width: 300px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    border-bottom: 1px solid black;
    padding: 5px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.tableHeader {
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    font-weight: 800;
}
