@keyframes error404 {
    0% {
        font-weight: 900
    }
    25% {
        font-weight: 300
    }
    50% {
        font-weight: 900
    }
    75% {
        font-weight: 300
    }
    100% {
        font-weight: 900
    }

}

.error404 {
    animation-name: error404;
    animation-duration: 4s;
    animation-iteration-count: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    align-self: center;
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 9999;
}
