.error404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

a {
    text-decoration: none;
    font-size: 21px;
}

.navlink a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #9a9a9a;
    padding: 10px;
}

a.active {
    color: #34495e;
}
